@use 'styles' as *;

:host {
    display: block;
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
    overflow-x: hidden;
    background-color: $color-secondary-1;
}

// NAVIGATION PROFILE
.profile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secondary-1; 
    font-family: Figtree, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;

  }
  
  .profile-nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 6px;
    background-color: white;
    border-radius: $radius-full;
  }
  
  .profile-nav__item a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: $radius-full;
    background-color: white;
    color: $color-dark;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  .profile-nav__item a:hover {
    background-color: $color-primary;
    color: $color-accent
  }
  
  .profile-nav__item a.active {
    background-color: $color-accent;
    color: $color-primary;
  }

  
  .profile-nav__btn {
    padding: 12px 20px;
    background-color: $color-secondary-3;
    color: white;
    border: none;
    border-radius: $radius-md;
    font-size: 14px;
    font-weight: 500;
    transition: opacity 0.2s;
  }

  
  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;  
    max-width: 600px;      
    border: 1px solid $color-secondary-6;
    border-radius: $radius-full;
    padding: 0 $spacing-md;
    background-color: $color-secondary-1;
    box-sizing: border-box;
  
    &__input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 500;
      color: $color-dark;
      padding: 0.8rem 0;
      background-color: $color-secondary-1;

  
      &::placeholder {
        color: $color-secondary-2;
      }
    }
  
    &__btn {
      background: none;
      border: none;
      padding: $spacing-sm;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex: none;
  
      &:hover .search-bar__icon {
        opacity: 0.75;
      }
    }
  
    &__icon {
      width: 1rem;
      height: 1rem;
      display: block;
      fill: $color-secondary-2;
    }
  }


  .logout-btn {
    margin-top: auto; 
    display: block;
    width: fit-content;
    margin: $spacing-lg auto 0;
    padding: $spacing-sm $spacing-md;
    font-size: 14px;
    font-weight: 500;
    color: $color-dark;
    background-color: transparent;
    border: 1px solid $color-secondary-6;
    border-radius: $radius-full;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    grid-column: 2;
  
    &:hover {
      background-color: $color-error;
      color: white;
      border: none;
    }
  }

/* ============ NAV RESPONSIVE ============ */
@media (max-width: $breakpoint-md) {
    .profile-nav {
      flex-direction: column;
      align-items: stretch;
  
      &__btn {
        order: 0;             // bouton en premier
        margin-bottom: $spacing-md;
        width: 100%;
      }

      &__list {
        order: 1;    
           width: 100%;
            margin-bottom: 1rem;
            padding: 12px;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: $radius-lg;
      }
  
      &__item {
        a {
          width: 100%;
          text-align: center;
          padding: $spacing-sm 0;
        }
        &:not(:last-child) {
          margin-bottom: $spacing-xs;
        }
      }

      .search-bar {   
        order: 2;    
        width: 100%;
        margin-top: $spacing-xs;
        margin-bottom: $spacing-md;
      }
    }
      }


//TABLE DRIVES

/* Conteneur global */
.trips {
    background-color: $color-secondary-1;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
    &__title {
      margin-bottom: $spacing-md;
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
      color: $color-dark;
    }
  
    &__wrapper {
      background-color: white;
      border-radius: $radius-lg;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba($color-dark, 0.05);
  
    }
  
    &__table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }
  
    &__head th {
      background-color: $color-secondary-6;
      padding: $spacing-md $spacing-lg;
      font-size: 14px;
      font-weight: 600;
      color: $color-dark;
      text-align: left;
    }
  
    &__body tr {
      &:not(:last-child) {
        border-bottom: 1px solid $color-secondary-6;
      }
  
  
      td {
        padding: $spacing-md $spacing-lg;
        font-size: 14px;
        color: $color-dark;
        vertical-align: middle;
        border-top: 1px solid $color-secondary-6;
        
      }
    }
  
    &__actions {
      display: flex;
      gap: $spacing-sm;
    }
  }

  /* reviews etoiles */
  .reviews__note {
    align-items: center;
    display: inline-flex;
    svg {
      width: 18px;
      height: 18px;
      vertical-align: middle; 
    }
  }
  
  /* Badges de statut */
  .badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
  
    &--attente {
      background-color: rgba($color-secondary-5, 0.1);
      color: $color-secondary-5;
      align-items: center;
      padding: $spacing-xs $spacing-sm;
      border-radius: $radius-full;
    }
    &--traiter {
      background-color: rgba($color-secondary-3, 0.1);
      color: $color-secondary-3;
      padding: $spacing-xs $spacing-sm;
      border-radius: $radius-full;

    }
    &--refuse {
      background-color: rgba($color-error, 0.1);
      color: $color-error;
      padding: $spacing-xs $spacing-sm;
      border-radius: $radius-full;
    }

    &--valide {
      background-color: rgba($color-positive, 0.1);
      color: $color-positive;
      padding: $spacing-xs $spacing-sm;
      border-radius: $radius-full;
      font-size: 14px;
      font-weight: 400;
    }
  }
  
  /* Boutons icônes */
  .btn-icon {
      padding: 0;
      border: none;
      cursor: pointer;
      background-color: white;
    
      img {
        display: block;
        width: 2rem;
        height: 2rem;
      }
  
    &--disabled { 
      opacity: 0.5;
      cursor: default;
    }
  
    &:hover:not(.btn-icon--disabled) {
      opacity: 0.8;
    }
  }
  
.reviews-to-process__more {
    text-align: center;
    margin-top: $spacing-lg;
    font-size: 14px;
    color: $color-secondary-2;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  
  
  
  .feedback__wrapper {
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.05);
    margin-top: 1rem;
    padding: 1rem;

    .review-details__comment {
      border: 1px solid #cccccc;
      margin: 0px 0px 20px 0px;
      padding: 1rem;
      border-radius: 10px;
      min-height: 90px;
  }
}



  
  /* ============ NAV RESPONSIVE ============ */
  @media (max-width: $breakpoint-md) {
      .profile-nav {
        flex-direction: column;
        align-items: stretch;
    
        &__btn {
          order: 0;             // bouton en premier
          margin-bottom: $spacing-md;
          width: 100%;
        }
  
        &__list {
          order: 1;    
             width: 100%;
              margin-bottom: 1rem;
              padding: 12px;
              display: flex;
              flex-direction: column;
              background-color: white;
              border-radius: $radius-lg;
        }
    
        &__item {
          a {
            width: 100%;
            text-align: center;
            padding: $spacing-sm 0;
          }
          &:not(:last-child) {
            margin-bottom: $spacing-xs;
          }
        }
      }
  
      .trips {
          width: 100%;
          overflow-x: hidden;    
          box-sizing: border-box;
  
          &__table {
              display: block;        
              width: 100%;            
              max-width: 100%;        
              table-layout: fixed;    
              border-collapse: separate;
            }
  
             &__body {
        display: block;         
        width: 100%;
  
      }
        &__wrapper {
          overflow: hidden;  
          box-sizing: border-box;
        }
    
        /* Cache l’en-tête */
        &__head {
          display: block;
          height: 0;
          overflow: hidden;
        }
    
        &__body {
          tr {
              display: block;
          }
    
          td {
              display: flex;
              flex-grow: 1;
              flex-shrink: 1;
              flex-basis: 0%;      
              flex-wrap: wrap;       
              min-width: 0;         
              overflow: hidden;      
              text-overflow: ellipsis; 
              word-break: break-word; 
              
               
    
            &:before {
              content: attr(data-label);
              font-weight: 600;
              color: $color-dark;
              flex: 1;
            }
            span.badge {
              flex: 0 0 auto;
            }
            &.trips__actions {
              flex-wrap: wrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  
  


  //BOUTONS
  .review-details__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
  
    &--left,
    &--right {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  .btn--success {
    @extend .btn-filled;
    flex: 1 1 auto;
  }


  .btn--danger {
    @extend .btn-filled;
    background-color: rgba($color-error, 0.1);
    color: $color-error;
    border: 1px solid $color-error;
    flex: 1 1 auto;

    &:hover {
      background-color: $color-error;
      color: white;
    }
  }

  .btn-icon--outline {
    @extend .btn-outline;
    padding: 0.8rem 1.2rem;
    font-size: 0.95rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: $radius-full;
  
    img {
      width: 1rem;
      height: 1rem;
    }
  
    &:hover {
      background-color: $color-primary;
      color: $color-accent;
      cursor: pointer;

      img {
        filter: brightness(0) saturate(100%) invert(100%);
      }
    }
  }

 
//BOUTON DETAIL AVIS
.btn-back {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  color: $color-dark;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    text-decoration: underline;
  }
  
}



  //BANDEAU TOP-FOOTER
.bandeau-blanc-arrondi {
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    height: 60px;
    background-color: $color-secondary-1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  
    position: relative;
    z-index: 10;
    margin-bottom: -40px;
  }
  
  .section-verte {
    background-color: $color-primary;
    position: relative;
    z-index: 1;
    margin-left: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    margin-right: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    padding-top: 60px; // si tu veux éviter que ça se colle au bandeau
  }