@use 'styles' as *;

.login-page {
    position: relative;
    display: flex;
    align-items: center;        // centrer verticalement la carte
    width: 100vw;
    height: 100vh;              // plein écran
    padding: 4rem 4rem;              // marge intérieure identique haut/bas/gauche/droite
    box-sizing: border-box;     // inclure le padding dans les dimensions
    overflow: hidden;

  .login-card {
    position: relative;
    z-index: 2;
    flex: 0 0 700px;           // largeur fixe à 400px
    display: flex;
    flex-direction: column;    // pour pouvoir centrer verticalement le contenu si besoin
    justify-content: center;   // centrer le form dans la carte
    background: #fff;
    border-radius: $radius-lg;
    padding: 36px 48px;
    box-sizing: border-box;


    h1 {
      font-size: 2rem;
      margin: 5px 0 8px;
      color: #333;
    }

    h4 {
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-secondary-2; // gris bleuté
        margin-bottom: $spacing-lg;
        margin-top: $spacing-xs;
      }

      .input-row {
        // display: flex;
        // gap: 16px;
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
      
        @include respond-to(sm) {
          flex-direction: column;  // passe de row à column
          gap: 0px;

        }
      
        .input-group {
          flex: 1;
      
          @include respond-to(sm) {
            flex: none;            // ne pas partager l'espace
            width: 100%;           // pleine largeur du conteneur
          }
        }
      }
      

    .input-group {
      margin-bottom: 24px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        color: #333;
      }

      input {
        width: 100%;
        padding: 12px 16px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 24px;
      }
    }

    .hint {
      font-size: 0.85rem;
      color: #59616A;
      margin-top: 8px;
    }

    .actions {
      align-items: center;
      gap: 24px;
      margin-top: 24px;

      .terms {
        font-size: 0.9rem;
        color: $color-secondary-2;
        line-height: 1.4;
        margin-top: 10px;

        a {
        color: $color-secondary-2;
        text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
      }
    }

    .register-link {
      margin-top: 16px;
      font-size: 0.9rem;
      color: #666;

      a {
        color: $color-dark;
        text-decoration: none;
        font-weight: 600;
        
      }
      a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    }
  }


//BOUTONS PROFIL
.role-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.role-options input[type="radio"] {
  display: none;
}

.role-options label {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  background-color: white;
  transition: background-color 0.2s, border-color 0.2s;
}

.role-options input[type="radio"]:checked + label {
  background-color: #f3f9ee; 
  border-color: $color-positive;   
  color: $color-positive;
}


.gender-selector {
  margin-bottom: 1.5rem;
}



  .login-img {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    

    img {
        width: 120%;
        height: 100%;
        object-fit: cover;
        display: block;
        object-position: 50% 30%;
        
    }
  }
}
@include respond-to(sm) {
    .login-page {
      flex-direction: column;
      height: auto;   // laisse défiler si le contenu dépasse
      padding: 1rem;  // on peut réduire le padding sur mobile
    }
    .login-card {
      flex: none;
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }
    .login-img {
      display: none;
    }
  }

  @include respond-to(md) {
    .login-page {
    flex-direction: column;
     height: auto;
        }
        .login-img {
         display: none;
        }
  }




