@use 'styles' as *;

.login-page {
  position: relative;       // pour que .login-img puisse être en absolute
  display: flex;
  align-items: center;      // centrer verticalement le formulaire
  width: 100vw;
  height: 75vh;
  overflow: hidden;

  .login-card {
    position: relative;
    z-index: 2;
    flex: 0 0 600px;
    padding: 48px;
    background: #fff;
    border-radius: $radius-lg;
    margin-left: 5%;


    h1 {
      font-size: 2rem;
      margin: 5px 0 12px;
      color: #333;
    }

    h4 {
        font-weight: 400;
        color: $color-secondary-2; // gris bleuté
        margin-bottom: $spacing-lg;
        margin-top: $spacing-xs;
      }

      .input-row {
        display: flex;
        gap: 16px;
      
        @include respond-to(sm) {
          flex-direction: column;  // passe de row à column
          gap: 0px;

        }
      
        .input-group {
          flex: 1;
      
          @include respond-to(sm) {
            flex: none;            // ne pas partager l'espace
            width: 100%;           // pleine largeur du conteneur
          }
        }
      }
      

    .input-group {
      margin-bottom: 24px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        color: #333;
      }

      input {
        width: 100%;
        padding: 12px 16px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 24px;
      }
    }

    .hint {
      font-size: 0.85rem;
      color: #59616A;
      margin-top: 8px;
    }

    .actions {
      align-items: center;
      gap: 24px;
      margin-top: 24px;

      .terms {
        font-size: 0.9rem;
        color: $color-secondary-2;
        line-height: 1.4;
        margin-top: 10px;

        a {
        color: $color-secondary-2;
        text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
      }
    }

    .register-link {
      margin-top: 16px;
      font-size: 0.9rem;
      color: #666;

      a {
        color: $color-dark;
        text-decoration: none;
        font-weight: 600;
        
      }
      a:hover {
        text-decoration: underline;
    }
    }
  }

  .login-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: auto;
  }
  .login-img {
    display: none;
  }
}
