<section class="login-page">

    <!-- Carte blanche avec le formulaire -->
      <div class="login-card">
        <h1>Créer mon compte</h1>
        <h4>Décrivez-vous en quelques mots et inscrivez-vous sur EcoRide.</h4>
  
        <form (ngSubmit)="onSubmit()">
   <!-- Pseudo -->
   <div class="input-row">
    <div class="input-group half">
      <label for="pseudo">Pseudo</label>
      <input
        type="text"
        id="pseudo"
        name="pseudo"
        placeholder="John123"
        [(ngModel)]="pseudo"
        required
      />
    </div>

     <!-- Mail -->
    <div class="input-group half">
      <label for="email">Adresse mail</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="john.doe@gmail.com"
        [(ngModel)]="email"
        required
      />
    </div>
  </div>

  <!-- Mot de passe + consigne -->
  <div class="input-group">
    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="xxxxxxxxxx"
      [(ngModel)]="password"
      required
    />
    <p class="hint">
      Il doit comporter au moins 8 caractères dont 1 lettre,
      1 chiffre et 1 caractère spécial.
    </p>
  </div>

    <!-- Sexe -->
    <div class="gender-selector">
      <p><strong>Êtes-vous :</strong></p>
      <div class="role-options">
        <input type="radio" id="femme" name="sexe" [(ngModel)]="gender" value="F" required>
        <label for="femme">Une femme</label>

        <input type="radio" id="homme" name="sexe" [(ngModel)]="gender" value="M">
        <label for="homme">Un homme</label>

        <input type="radio" id="aucun" name="sexe" [(ngModel)]="gender" value="NO">
        <label for="aucun">Ne se prononce pas</label>
      </div>
    </div>


    <!-- Profil -->
    <div class="role-selector">
      <p><strong>Souhaitez-vous être :</strong></p>
      <div class="role-options">
        <input type="radio" id="driver" name="role" [(ngModel)]="role" value="ROLE_DRIVER" required>
        <label for="driver">Conducteur</label>
        
        <input type="radio" id="passenger" name="role" [(ngModel)]="role" value="ROLE_USER">
        <label for="passenger">Passager</label>
      </div>
    </div>

  <!-- Bouton + texte des conditions -->
  <div class="actions">
    <button type="submit" class="btn btn-filled">Créer mon compte</button>
    <p class="terms">En continuant, vous acceptez les
      <a href="/terms">Conditions d’utilisation</a> et la
      <a href="/privacy">Politique de confidentialité</a> d’EcoRide.
    </p>
  </div>
</form>


<p class="register-link">
  Vous avez déjà un compte&nbsp;?
  <a routerLink="/connexion" routerLinkActive="active">Se connecter</a>

</p>
</div>
      <!-- Bloc image en HTML -->
      <div class="login-img">
        <img src="images/Connexion_Homme.webp" alt="Personne utilisant l’application sur tablette">
      </div>
  
    </section>