@use 'styles' as *;
:host {
    display: block;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  
    @include respond-to(sm) {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }

  }

// ========== HEADER ==========

.header {
    padding: $spacing-md $spacing-xl;
    background: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  
    @include respond-to(md) {
      flex-direction: row;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-md 0;

    }
  }
  
  .header-text {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    text-decoration: none;
  }
  
  .logo {
    height: 30px;
  }
  
  .nav {
    display: flex;
    gap: $spacing-md;
    text-align: center;
    align-items: center;

  
    a {
      color: $color-dark;
      font-weight: 500;
      text-decoration: none;

  
      &:hover {
        font-weight: 700;
        color: $color-primary;
      }
    }
  
    .button-connexion {
        display: inline-block;
        padding: 0.6rem 1.8rem;
        border-radius: $radius-full;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;
        color: $color-primary;
        border: 1px solid $color-secondary-6;
        text-decoration: none;
      
        &:hover {
          background-color: $color-primary;
          color: $color-accent;
          text-decoration: none;
        }
    }

    .button-inscription {
        display: inline-block;
        padding: 0.6rem 1.8rem;
        border-radius: $radius-full;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: $color-accent;
        color: $color-primary;
        border: none;
        text-decoration: none;
      
        &:hover {
          background-color: $color-primary;
          color: $color-accent;
          text-decoration: none;
        }
    }

    @include respond-to(md) {
      display: none;
    }
  }

  
  .burger-menu {
    display: none;
  
    img {
      height: 45px;
      cursor: pointer;
    }
  
    @include respond-to(md) {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }
  
  main {
    flex: 1;
  }