<div class="wrapper">
    <header class="header">
        
      <a routerLink="/home"><img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/></a>
  
      <div class="header-text">
        <nav class="nav">
        <a routerLink="/recherche-covoit">Rechercher un covoit’</a>
        <a routerLink="/support">Support</a>
        <a routerLink="/connexion"  routerLinkActive="active" class="button-connexion">Se connecter</a>
        <a routerLink="/inscription" routerLinkActive="active" class="button-inscription">S’inscrire</a>
        </nav>
  

        
        <!-- Icône burger pour mobile -->
        <div class="burger-menu">
          <img src="images/Menu.svg" alt="Menu" />
        </div>
  
      </div>
  
    </header>