<footer class="footer">
    <div class="footer-content">
      <div class="footer-columns">
        <div class="column">
          <h4>Entreprise</h4>
          <ul>
            <li><a routerLink="/a-propos">À propos</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="column">
          <h4>Assistance</h4>
          <ul>
            <li><a routerLink="/service-client">Service client</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="column">
          <h4>Légal</h4>
          <ul>
            <li><a routerLink="/mentions-legales">Mentions légales</a></li>
          </ul>
        </div>
        
          <img class="footer-logo" src="images/Logo_Blanc.svg" alt="Logo EcoRide" />

      </div>
  
      <hr />
  
      <p class="copyright">© 2025 - Tous droits réservés.</p>
    </div>
  </footer>
  