<!-- NAVIGATION PROFILE -->
<nav class="profile-nav">
    <ul class="profile-nav__list">
      <li class="profile-nav__item profile-nav__item--active">
        <a href="#">Aperçu datas</a>
      </li>
      <li class="profile-nav__item">
        <a href="#">Comptes employés</a>
      </li>
      <li class="profile-nav__item">
        <a href="#">Comptes suspendus</a>
      </li>
    </ul>

<!-- RESEARCH BAR -->
      <form class="search-bar" role="search">
        <input type="search" class="search-bar__input" placeholder="Rechercher" aria-label="Rechercher"/>
        <button type="submit" class="search-bar__btn" aria-label="Lancer la recherche">
          <img src="images/Picto_Search.svg" alt="Rechercher" class="search-bar__icon"/>
        </button>
      </form>


    <button class="profile-nav__btn">Profil Administrateur.rice</button>
  </nav>


<!-- DATAS -->
<section class="chart-stats">
    <!-- Nombre de covoiturages par jour -->
    <div class="chart-stats__block">
      <h2 class="chart-stats__title">Nombre de covoiturages par jour</h2>
      <div class="chart-stats__wrapper">
        <div id="daily-carpool-chart" class="chart-stats__chart">
          <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="'line'">
          </canvas>
        </div>
      </div>
    </div>
  
    <!-- Évolution des crédits -->
    <div class="chart-stats__block">
      <h2 class="chart-stats__title">Évolution des crédits</h2>
      <div class="chart-stats__wrapper">
        <div id="credits-evolution-chart" class="chart-stats__chart">
          <canvas baseChart
            [data]="creditsChartConfig.data"
            [options]="creditsChartConfig.options"
            [type]="'bar'">
          </canvas>
        </div>
      </div>
    </div>


    <!-- Total des crédits -->
    <div class="chart-stats__block">
    <h2 class="chart-stats__title">Crédits gagnés par la plateforme</h2>
    <div class="credits__balance">
      <div class="credits__amount">
        <img
          src="images/Credit.png"
          alt="Eco-Ride"
          class="credits__icon"
        />
        <p class="credits__value">{{ totalCredits }}</p>
      </div>
    </div>
    </div>
    
  </section>

  
    <!-- DECONNEXION -->
    <button type="button" (click)="logout()" class="logout-btn">Déconnexion</button>
    

  <!-- BANDEAU TOP FOOTER -->
<section class="section-blanche"><div class="bandeau-blanc-arrondi"></div></section>
<section class="section-verte"></section>