<section class="new-trip">
    <h2 class="new-trip__title">Nouveau trajet</h2>
  
    <div class="new-trip__wrapper">
      <!-- Colonne de gauche : formulaire et navigation d’étapes -->
      <div class="new-trip__form-col">
        <!-- Progress bar -->
        <div class="new-trip__steps">
          <span class="new-trip__step new-trip__step--active"></span>
          <span class="new-trip__step"></span>
          <span class="new-trip__step"></span>
        </div>
  
        <h3>Où partez-vous ?</h3>
  
        <form class="new-trip__form">
          <div class="new-trip__field">
            <label for="departure" class="new-trip__label">Ville de départ</label>
            <input name="departure" [(ngModel)]="rideForm.formData.departure" id="departure" type="text" class="new-trip__input" placeholder="Auch"/>
          </div>
  
          <div class="new-trip__field">
            <label for="destination" class="new-trip__label">Ville de destination</label>
            <input name="arrival" [(ngModel)]="rideForm.formData.arrival" id="destination" type="text" class="new-trip__input" placeholder="Toulouse"/>
          </div>
  
          <div class="new-trip__field">
            <label for="date" class="new-trip__label">Date de départ</label>
            <input name="date" [(ngModel)]="rideForm.formData.date" id="date" type="date" class="new-trip__input"/>
          </div>
  
          <div class="new-trip__field">
            <label for="time" class="new-trip__label">Heure de départ</label>
            <input name="time" [(ngModel)]="rideForm.formData.time" id="time" type="time" class="new-trip__input" />
          </div>
  
          <button type="button" class="new-trip__btn" (click)="next.emit()">Suivant</button>
        </form>
      </div>
  
      <!-- Colonne de droite : carte -->
      <div class="new-trip__map-col">
        <app-map
        [departure]="rideForm.formData.departure!" 
        [arrival]="rideForm.formData.arrival!">
        </app-map>
        <!-- <img src="images/Trajet_Map.webp" alt="Aperçu du trajet entre Auch et Toulouse" class="new-trip__map"/> -->
      </div>
    </div>
  </section>
  