<nav>
     <ng-container [ngSwitch]="role">
    <ul *ngSwitchDefault>
        <div class="wrapper">        
            <a routerLink="/home"><img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/></a>
        
            <div class="header-text">
                <nav class="nav">
                <a routerLink="/recherche-covoit">Rechercher un covoit’</a>
                <a routerLink="/support">Support</a>
                <a routerLink="/connexion"  routerLinkActive="active" class="button-connexion">Se connecter</a>
                <a routerLink="/inscription" routerLinkActive="active" class="button-inscription">S’inscrire</a>
                 </nav>
        
                <!-- Icône burger pour mobile -->
                <div class="burger-menu">
                <img src="images/Menu.svg" alt="Menu" />
                </div>
            </div>
        </div>
    </ul>



    <ul *ngSwitchCase="'passenger'">
        <div class="wrapper">        
            <a routerLink="/home"><img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/></a>
          
              <!-- ARRIVAL ACTIONS -->
              <!-- <div class="arrival-actions">
                <button
                  class="arrival-actions__btn arrival-actions__btn--success"
                  [routerLink]="['/ride-validated']"
                  [queryParams]="{ token: 'abc123-token-fake-pour-test' }">
                  Je suis bien arrivé(e)
                </button>
                <button
                  routerLink="/ride-report"
                  type="button"
                  class="arrival-actions__btn arrival-actions__btn--danger">
                  Signaler un problème
                </button>
              </div> -->


            <div class="header-text">
              <nav class="nav">
              <a routerLink="/recherche-covoit">Rechercher un covoit’</a>
              <a routerLink="/support">Support</a>
        
              <div class="avatar-wrapper">
                <img routerLink="/profile-passenger" src="images/Profil_Passager-Conducteur.png" alt="Marie" class="avatar"/>
                <img src="images/Picto_Verifier.svg" alt="✓" class="verified-icon"/>
              </div>
              </nav>
        
              <!-- Icône burger pour mobile -->
              <div class="burger-menu">
                <img src="images/Menu.svg" alt="Menu" />
              </div>
            </div>
      </div>
    </ul>



    <ul *ngSwitchCase="'driver'">
        <div class="wrapper">        
            <a routerLink="/home"><img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/></a>
        

              <!-- ARRIVAL DRIVER ACTIONS -->
              <div *ngIf="startedRideId" class="arrival-actions">
                <button class="arrival-actions__btn arrival-actions__btn--success"
                (click)="terminateRide(startedRideId)">
                  Trajet terminé
                </button>
                <button routerLink="/ride-report" type="button" class="arrival-actions__btn arrival-actions__btn--danger">
                Signaler un problème
                </button>
            </div>  


            <div class="header-text">
              <nav class="nav">
              <a routerLink="/recherche-covoit">Rechercher un covoit’</a>
              <a routerLink="/support">Support</a>
              <div class="avatar-wrapper">
                <a routerLink="/profile-driver"><img src="images/Profil_Passager-Conducteur.png" alt="Marie" class="avatar"/></a>
                <img src="images/Picto_Verifier.svg" alt="✓" class="verified-icon"/>
              </div>
              </nav>
        
              <!-- Icône burger pour mobile -->
              <div class="burger-menu">
                <img src="images/Menu.svg" alt="Menu" />
              </div>
            </div>
      </div>
    </ul>




      
    <ul *ngSwitchCase="'employe'">
        <div class="wrapper">        
            <a routerLink="/home"><img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/></a>

            <div class="header-text">
                <nav class="nav">
                <a routerLink="#" class="messagerie">Messagerie<span class="messagerie__badge">12</span></a>
                <div class="avatar-wrapper">
                  <a routerLink="/profile-employe"><img src="images/Profil_Employe.png" alt="Marie" class="avatar"/></a>
                </div>
                </nav>
            </div>
            <!-- Icône burger pour mobile -->
            <div class="burger-menu">
                <img src="images/Menu.svg" alt="Menu" />
            </div>
        </div>
    </ul>




    <ul *ngSwitchCase="'admin'">
        <div class="wrapper">        
            <a routerLink="/home"><img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/></a>

            <div class="header-text">
                <nav class="nav">
                <a routerLink="#" class="messagerie">Messagerie<span class="messagerie__badge">12</span></a>
                <div class="avatar-wrapper">
                  <a routerLink="/profile-admin"><img src="images/Profil_Admin.png" alt="Marie" class="avatar"/></a>
                </div>
                </nav>
            </div>
            <!-- Icône burger pour mobile -->
            <div class="burger-menu">
                <img src="images/Menu.svg" alt="Menu" />
            </div>
        </div>
    </ul>


      
    </ng-container> 





  </nav>
  