// BOUTONS GÉNÉRAUX

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  // BOUTON OUTLINE
  .btn-outline {
    background: #fff;
    color: #333;
    border: 1.8px solid $color-secondary-6;
    text-decoration: none;
  
    &:hover {
        background-color: $color-primary;
        color: $color-accent;
        text-decoration: none;
    }
  }
  
  // BOUTON JAUNE
  .btn-filled {
    background-color: $color-accent;
    color: $color-primary;
    border: none;
    text-decoration: none;
  
    &:hover {
      background-color: $color-primary;
      color: $color-accent;
      text-decoration: none;
    }
  }
  
  