@use 'styles' as *;

.ride-report {
  padding: $spacing-xl;
  text-align: center;

  &__header {
    max-width: 600px;
    margin: 0 auto $spacing-xl;
  }

  &__image {
    width: 150px;
    margin-bottom: $spacing-sm;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 $spacing-sm;
    color: $color-dark;
  }


  &__form {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    text-align: left;
  }

  &__row {
    display: flex;
    gap: $spacing-lg;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__label {
    font-size: 0.875rem;
    font-weight: 600;
    color: $color-dark;
    margin-bottom: $spacing-xs;
  }

  &__input {
    padding: $spacing-sm $spacing-md;
    font-size: 1rem;
    border: 1px solid $color-secondary-6;
    border-radius: $radius-full;
    font-family: Figtree, sans-serif;
    color: $color-dark;

    &::placeholder {
      color: $color-secondary-6;
    }
    width: 100%;
    box-sizing: border-box;
  }

  &__textarea {
    // on reprend le style du ride-validated
    width: 100%;
    padding: $spacing-md;
    font-size: 1rem;
    border: 1px solid $color-secondary-6;
    border-radius: $radius-md;
    resize: vertical;
    font-family: Figtree, sans-serif;
    color: $color-dark;

    &::placeholder {
      color: $color-secondary-6;
    }
  }

  &__confidentiality {
    font-size: 0.875rem;
    color: $color-secondary-6;
    line-height: 1.4;
    margin: 0;
  }

  &__actions {
    text-align: right;
    margin-top: $spacing-sm;
  }

  &__submit-btn {
    @extend .btn-filled;
    background-color: rgba($color-error, 0.1);
    color: $color-error;
    border: 1px solid $color-error;
    flex: 1 1 auto;
    border-radius: $radius-full;
    padding: $spacing-md $spacing-lg;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;


    &:hover {
      background-color: $color-error;
      color: white;
    }
  }
}


h5 {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-sm;
  }








//BANDEAU TOP-FOOTER
.bandeau-blanc-arrondi {
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    height: 40px;
    background-color: $color-light;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  
    position: relative;
    z-index: 10;
    margin-bottom: -40px;
  }
  
  .section-verte {
    background-color: $color-primary;
    position: relative;
    z-index: 1;
    margin-left: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    margin-right: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    padding-top: 60px; // si tu veux éviter que ça se colle au bandeau
  }