<div class="wrapper">
  <header class="header">
      
    <img class="logo" src="images/Logo_Vert.svg" alt="EcoRide Logo"/>

    <div class="header-text">
      <nav class="nav">
        <a routerLink="/search">Rechercher un covoit’</a>
        <a routerLink="/support">Support</a>
      </nav>

      <div class="auth-buttons">
        <a routerLink="/login" class="btn btn-outline">Se connecter</a>
        <a routerLink="/signup" class="btn btn-filled">S’inscrire</a>
      </div>

      <!-- Icône burger pour mobile -->
      <div class="burger-menu">
        <img src="images/Menu.svg" alt="Menu" />
      </div>

    </div>

  </header>
  
  <h1 class="title"> </h1>

  <router-outlet></router-outlet>
</div>