@use 'styles' as *;

// ========== RESET GLOBAL ==========
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ========== HEADER ==========

.header {
  padding: $spacing-md $spacing-xl;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);

  @include respond-to(md) {
    flex-direction: row;
    align-items: center;
    gap: $spacing-sm;
  }
}

.header-text {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
  text-decoration: none;
}

.logo {
  height: 35px;
}

.nav {
  display: flex;
  gap: $spacing-lg;

  a {
    color: $color-dark;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      color: $color-primary;
    }
  }

  @include respond-to(md) {
    display: none;
  }
}

.auth-buttons {
  display: flex;
  gap: $spacing-md;

  @include respond-to(md) {
    display: none;
  }
}

.burger-menu {
  display: none;

  img {
    height: 45px;
    cursor: pointer;
  }

  @include respond-to(md) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

main {
  flex: 1;
}

// ========== FOOTER ==========
.footer {
  background-color: $color-primary;
  color: white;
  padding: $spacing-xl $spacing-xxl;

  .footer-content {
    margin: 0 auto;
  }

  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-lg;
    margin-bottom: $spacing-lg;

    .column {
      text-align: left;

      h4 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: $spacing-sm;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: $spacing-xs;
          cursor: pointer;

          a {
            text-decoration: none;
            color: white;
            font-size: 1rem;

            &:hover {
              color: $color-accent;
            }
          }
        }
      }
    }

    .footer-logo {
      text-align: right;
      height: 60px;
      margin-bottom: $spacing-xs;

      p {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: $spacing-sm;
  }

  .copyright {
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: left;
  }
}
