@use 'styles' as *;

.login-page {
  position: relative;      // pour que .login-img puisse être en absolute
  display: flex;
  align-items: center;     // vertical centering du formulaire
  width: 100vw;  
  height: 75vh;           
  overflow: hidden;      
}

.login-card {
  position: relative;
  z-index: 2;
  flex: 0 0 480px;
  padding: $spacing-xl;
  background-color: $color-light;
  border-radius: $radius-md;
  margin-left: 5%;
}
 
.login-card h1 {
    font-size: 2rem;
    margin-bottom: 32px;
    margin-top: 5px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 24px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 24px;
  }
  
  .register-link {
    margin-top: 16px;
    font-size: 0.9rem;
    color: #666;
  }
  
  .register-link a {
    color: $color-dark;
    text-decoration: none;
    font-weight: 600;
  }


// positionnement full-screen de l'image
.login-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;                 
  z-index: 1;
}

.login-img img {
  width: 100vw;            
  height: 100%;
  object-fit: cover;
  display: block;
}

// responsive mobile inchangé
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: auto;
  }
  .login-img {
    display: none;
  }
}
