<app-search-bar
  [villeDepart]="searchVilleDepart"
  [villeArrivee]="searchVilleArrivee"
  [date]="date"
  [nbPassagers]="selectedPassengers"
  (search)="onSearch($event)">
</app-search-bar>


<app-modal [visible]="showTripDetail" (close)="closeTripDetail()">

    <!-- HEADER POPUP -->
    <div modal-header class="header-content">
    <!-- Fil d’Ariane (breadcrumb) : uniquement sur l’étape 2 -->
    <a *ngIf="step === 2" class="btn-back" (click)="goToStep(1)">‹ Détails du trajet</a>
  
      <!-- Titre -->
      <h3 modal-title>
        {{ step === 1 ? "Aujourd'hui" : "Vérifiez vos informations de réservation" }}
        <span *ngIf="step === 1" class="drive-title">Auch &gt; Toulouse</span>
      </h3>

      <button class="modal-close" (click)="closeTripDetail()">✕</button>

    </div>
  

  
    <!--BODY POPUP -->
    <div modal-body>
  
      <!-- Étape 1 : détails du trajet -->
      <ng-container *ngIf="step === 1">
        <section class="trip-detail">
  
            <div class="driver-card">
                <div class="driver-header">
                  <div class="driver-info">
                    <div class="avatar-wrapper">
                      <img
                        src="images/Profil_Anthony.png"
                        alt="Anthony"
                        class="avatar"
                      />
                      <img
                        src="images/Picto_Verifier.svg"
                        alt="✓"
                        class="verified-icon"
                      />
                    </div>
                    <span class="name">Anthony</span>
                    <div class="divider-vertical"></div>
                    <span class="rating">
                      <img
                        src="images/Picto_Etoile.svg"
                        alt="★"
                        class="rating-icon"
                      />
                      <span class="rating-value">4</span>
                      <span class="reviews">– 43 avis</span>
                    </span>
                    <div class="divider-vertical"></div>
                    <span class="verified-text">
                      <img
                        src="images/Picto_Verifier.svg"
                        alt="✓"
                        class="badge-icon"
                      />
                      Profil vérifié
                    </span>
                  </div>
                </div>

                <hr class="card-separator" />
  
          <ul class="features-list">
            <li>
              <img
                src="images/Modal_Picto_Pref.svg"
                alt=""
                class="feature-icon"
              />
              Animaux de compagnie autorisées, non-fumeur
            </li>
            <li>
              <img
                src="images/Modal_Picto_Vehicule.svg"
                alt=""
                class="feature-icon"
              />
              Volkswagen ID.3 – Gris foncé
            </li>
            <li>
              <img
                src="images/Modal_Picto_Electrique.svg"
                alt=""
                class="feature-icon"
              />
              Véhicule électrique
            </li>
          </ul>
  
          <button class="btn btn-outline message-btn">
            Envoyer un message
          </button>
        </div>
  
        <!-- ==== Booking column ==== -->
        <div class="booking-column">
          <div class="route-vertical-card">
            <div class="route-vertical">
              <div class="time-block departure">
                <span class="time">10h20</span>
                <span class="location">Auch</span>
                <span class="address">
                  4 Pl. Allées Dencheraud
                  <img
                    src="images/Modal_Picto_Map.svg"
                    alt=""
                    class="map-icon"
                  />
                </span>
              </div>
              <div class="connector">
                <span class="dot"></span>
                <span class="bar">
                  <span class="duration">1h00</span>
                </span>
                <span class="dot"></span>
              </div>
              <div class="time-block arrival">
                <span class="time">11h20</span>
                <span class="location">Toulouse</span>
                <span class="address">
                  Gare Matabiau
                  <img
                    src="images/Modal_Picto_Map.svg"
                    alt=""
                    class="map-icon"
                  />
                </span>
              </div>
            </div>
          </div>
  
            <!-- toggle passagers + dropdown -->
          <div class="passenger-wrapper">
            <div class="passenger-toggle" (click)="togglePassengerDropdown()">
              <span class="passenger-count">
                <img
                  src="images/Modal_Picto_Passager.svg"
                  alt=""
                  class="passenger-icon"
                />
                {{ selectedPassengers }} passager{{ selectedPassengers > 1 ? 's' : '' }}
              </span>
              <span class="toggle-icon">▾</span>
            </div>
  
            <ul
              class="passenger-list"
              *ngIf="showPassengerDropdown"
            >
              <li
                *ngFor="let p of passengerOptions"
                (click)="selectPassengers(p)"
                [class.active]="p === selectedPassengers"
              >
              {{ p }} passager{{ p > 1 ? 's' : '' }}
              </li>
            </ul>
          </div>
  
            <!-- BOUTON “Réserver ce trajet” passe à step 2 -->
        <div class="booking-footer">
            <img src="images/Credit.png" class="credit-icon" alt="€">
            <span class="credit-value">5</span>
            <button class="btn btn-filled reserve-btn" (click)="goToStep(2)">Réserver ce trajet</button>
        </div>
          </div> <!-- /.booking-column -->
        </section>
      </ng-container>
  
      
<!-- ===== ÉTAPE 2 : CONFIRMATION ===== -->
<ng-container *ngIf="step === 2">
    <section class="reservation-summary">
      <h4>Vérifiez vos informations de réservation</h4>

      <div class="summary-grid">
        <!-- Récapitulatif du trajet -->
        <div class="summary-card recap-trip">
          <h5>Récapitulatif du trajet</h5>
          <small>Jeudi 20 octobre</small>
          <!-- on réutilise la même carte verticale -->
          <div class="route-vertical-card">
            <div class="route-vertical">

                <div class="connector">
                    <span class="dot"></span>
                    <span class="bar"></span>
                    <span class="dot"></span>
                  </div>
        
              <div class="time-block departure">
                <span class="time">10h20</span>
                <span class="location">Auch</span>
                <span class="address">
                  4 Pl. Allées Dencheraud
                  <img src="images/Modal_Picto_Map.svg" class="map-icon" alt="" />
                </span>
              </div>
          
              <div class="time-block arrival">
                <span class="time">11h20</span>
                <span class="location">Toulouse</span>
                <span class="address">
                  Gare Matabiau
                  <img src="images/Modal_Picto_Map.svg" class="map-icon" alt="" />
                </span>
              </div>
          
        
            </div>
          </div>
          
      
        </div>

        <!-- Récapitulatif du prix -->
        <div class="summary-card recap-price">
            <h5>Récapitulatif du prix</h5>
            <small>Pour {{ selectedPassengers }} passager{{ selectedPassengers>1?'s':'' }}</small>
          
            <div class="price-grid">
              <span>Prix total</span>
              <span>
                <img src="images/Credit.png" class="credit-icon" alt="€" />
                <span class="credit-value">{{ getTotalPrice() }}</span>
              </span>
          
              <!-- Séparateur -->
              <hr class="divider" />
          
              <span>Crédits disponibles</span>
              <span>
                <img src="images/Credit.png" class="credit-icon" alt="€" />
                <span class="credit-value available">{{ credits }}</span>
              </span>
          
              <button class="btn btn-outline add-credits-btn">
                Ajouter des crédits
              </button>
            </div>
          </div>


        <!-- Message au conducteur -->
        <div class="summary-card message-driver">
          <h5>Un message au conducteur ?</h5>
          <textarea
            rows="6"
            placeholder="Bonjour, je viens de réserver votre trajet…"
          ></textarea>
        </div>
      </div>

      <!-- bouton confirmer -->
      <div class="confirm-footer">
        <button class="btn btn-filled back-btn" (click)="goToStep(1)">Retour</button>
        <button 
        class="btn btn-filled confirm-btn" 
        [disabled]="credits < getTotalPrice()"
        (click)="confirmerReservation()">Confirmer la réservation
      </button>
      </div>
    </section>
  </ng-container>


  <ng-container *ngIf="step === 3">
    <section class="reservation-complete">
    <img src="images/Trajet_Confirme.png" alt="✓" class="confirmation-icon" />
      <h2>Votre trajet est confirmé !</h2>
      <p>Merci pour votre réservation sur EcoRide. Nous avons bien enregistré votre demande. 
        <br>Un e-mail de confirmation vient de vous être envoyé avec tous les détails de votre trajet.</p>
      <div class="complete-footer">
        <button class="btn btn-filled" (click)="closeTripDetail()">Compris, merci !</button>
      </div>
    </section>
  </ng-container>

</div>

  <!-- FOOTER POPUP (step 2) -->
  <div modal-footer *ngIf="step === 2">
    <button class="btn-outline" (click)="closeTripDetail()">Annuler</button>
  </div>
  
  </app-modal>
  

<!--------------------------------------------------------------------------------------------------------------------------->



<!-- PAGE RECHERCHE -->
<section class="search-page">

  <!-- Sidebar filtres -->
  <aside class="filters" [class.open]="showFilters">
    <div class="filters-header">
      <h2>Filtres <span class="filters-toggle" (click)="toggleFilters()">▾</span></h2>
      <a href="#" class="clear-all" (click)="resetFilters($event)">Tout effacer</a>
    </div>
  
    <!-- Trier par -->
    <div class="filter-group">
      <h3>Trier par</h3>
      <ul>
        <li>
          <label>
            <input type="radio" name="sort" [(ngModel)]="filters.sortBy" value="early" />
            <span class="custom-radio"></span>
            Départ le plus tôt
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="sort" [(ngModel)]="filters.sortBy" value="cheap" />
            <span class="custom-radio"></span>
            Prix le plus bas
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="sort" [(ngModel)]="filters.sortBy" value="eco" />
            <span class="custom-radio"></span>
            Voiture électrique
          </label>
        </li>
      </ul>
    </div>
  
    <!-- Heure de départ -->
    <div class="filter-group">
      <h3>Heure de départ</h3>
      <ul>
        <li>
          <label>
            <input type="radio" name="time" [(ngModel)]="filters.timeRange" value="morning" />
            <span class="custom-radio"></span>
            Jusqu’à 12 h00
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="time" [(ngModel)]="filters.timeRange" value="afternoon" />
            <span class="custom-radio"></span>
            12 h00 – 18 h00
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="time" [(ngModel)]="filters.timeRange" value="evening" />
            <span class="custom-radio"></span>
            Après 18 h00
          </label>
        </li>
      </ul>
    </div>
  
    <!-- Confiance & sécurité -->
    <div class="filter-group">
      <h3>Confiance & sécurité</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" [(ngModel)]="filters.verifiedOnly" />
            <span class="custom-checkbox"></span>
            Profil vérifié
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" [(ngModel)]="filters.womenOnly" />
            <span class="custom-checkbox"></span>
            Femmes seulement
          </label>
        </li>
      </ul>
    </div>
  
    <!-- Services -->
    <div class="filter-group">
      <h3>Services & équipement</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" [(ngModel)]="filters.services.max2" />
            <span class="custom-checkbox"></span>
            Max. 2 à l’arrière
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" [(ngModel)]="filters.services.smoking" />
            <span class="custom-checkbox"></span>
            Fumeur autorisé
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" [(ngModel)]="filters.services.pets" />
            <span class="custom-checkbox"></span>
            Animal de compagnie autorisé
          </label>
        </li>
      </ul>
    </div>
  </aside>
  

  <!-- RESULTATS -->
  <main class="results">
    <header class="results-header">
      <div class="results-header">
        <h2 *ngIf="searchVilleDepart && searchVilleArrivee">
          {{ capitalizeFirstLetter(displayedDate) }}
          <span class="route-color">
            {{ searchVilleDepart }} &gt; {{ searchVilleArrivee }}
          </span>
        </h2>
        <p *ngIf="isAlternativeResults">
          Aucun trajet trouvé à la date sélectionnée. Voici les premiers trajets disponibles les jours suivants :
        </p>
      </div>
    </header>

    
    <p class="no-search-message" *ngIf="!searchVilleDepart || !searchVilleArrivee">
      Veuillez lancer une recherche pour afficher les trajets disponibles.
    </p>
    
    <p class="no-search-message" *ngIf="rides.length === 0 && alternativeResults.length === 0 && searchVilleDepart && searchVilleArrivee">
      Aucun trajet disponible à la date sélectionnée.
    </p>



    <ul class="result-list" *ngIf="searchVilleDepart && searchVilleArrivee">
      <li
        class="result-card"
        *ngFor="let ride of getFilteredRides()"
        [class.disabled]="ride.availableSeats === 0"
        (click)="ride.availableSeats > 0 && openTripDetail(ride)">
        <!-- HEADER INFOS -->
        <div class="card-header">
          <div class="route-info">
            <div class="time-block departure">
              <span class="time">{{ ride.departureTime }}</span>
              <span class="location">{{ ride.departureCity }}</span>
            </div>
            <div class="timeline">
              <span class="dot"></span>
              <span class="bar"><span class="duration">{{ ride.duration }}</span></span>
              <span class="dot"></span>
            </div>
            <div class="time-block arrival">
              <span class="time">{{ ride.arrivalTime }}</span>
              <span class="location">{{ ride.arrivalCity }}</span>
            </div>
          </div>
          <div class="credit-info">
            <img src="images/Credit.png" alt="credit" class="credit-icon" />
            <span class="credit-value">{{ ride.availableSeats > 0 ? ride.price : 'Complet' }}</span>
          </div>
        </div>

        <hr class="card-separator" />

        <!-- DRIVER INFOS -->
        <div class="card-details">
          <div class="driver">
            <div class="avatar-wrapper">
              <img [src]="ride.driver.image" alt="{{ ride.driver.pseudo }}" class="avatar" />
              <img *ngIf="ride.driver.verified" src="images/Picto_Verifier.svg" alt="Profil vérifié" class="verified-icon" />
            </div>
            <span class="name">{{ ride.driver.pseudo }}</span>
            <span class="rating">
              <img src="images/Picto_Etoile.svg" alt="Étoile" class="rating-icon" />
              <span class="rating-value">{{ ride.driver.rating }}</span>
            </span>
          </div>
          <div class="divider-vertical"></div>
          <div class="extras">{{ ride.extras }}</div>
          <div class="divider-vertical"></div>
          <img 
          *ngIf="ride.isElectric" 
          src="images/Picto_Eco.svg" 
          alt="Trajet écologique" 
          class="eco-icon" 
        />
        </div>
      </li>
    </ul>

    <!-- Résultats alternatifs si aucun trajet exact -->
    <ul class="result-list" *ngIf="rides.length === 0 && isAlternativeResults && alternativeResults.length > 0">
      <li
    class="result-card"
    *ngFor="let ride of alternativeResults"
    [class.disabled]="ride.availableSeats === 0"
    (click)="ride.availableSeats > 0 && openTripDetail(ride)">
    
    <!-- HEADER INFOS -->
    <div class="card-header">
      <div class="route-info">
        <div class="time-block departure">
          <span class="time">{{ ride.departureTime }}</span>
          <span class="location">{{ ride.departureCity }}</span>
        </div>
        <div class="timeline">
          <span class="dot"></span>
          <span class="bar"><span class="duration">{{ ride.duration }}</span></span>
          <span class="dot"></span>
        </div>
        <div class="time-block arrival">
          <span class="time">{{ ride.arrivalTime }}</span>
          <span class="location">{{ ride.arrivalCity }}</span>
        </div>
      </div>
      <div class="credit-info">
        <img src="images/Credit.png" alt="credit" class="credit-icon" />
        <span class="credit-value">{{ ride.availableSeats > 0 ? ride.price : 'Complet' }}</span>
      </div>
    </div>

    <hr class="card-separator" />

    <!-- DRIVER INFOS -->
    <div class="card-details">
      <div class="driver">
        <div class="avatar-wrapper">
          <img [src]="ride.driver.image" alt="{{ ride.driver.pseudo }}" class="avatar" />
          <img *ngIf="ride.driver.verified" src="images/Picto_Verifier.svg" alt="Profil vérifié" class="verified-icon" />
        </div>
        <span class="name">{{ ride.driver.pseudo }}</span>
        <span class="rating">
          <img src="images/Picto_Etoile.svg" alt="Étoile" class="rating-icon" />
          <span class="rating-value">{{ ride.driver.rating }}</span>
        </span>
      </div>
      <div class="divider-vertical"></div>
      <div class="extras">{{ ride.extras }}</div>
    </div>

  </li>
</ul>

  </main>

</section>








<!-- BANDEAU TOP FOOTER -->
<section class="section-blanche"><div class="bandeau-blanc-arrondi"></div></section>
<section class="section-verte"></section>