<!-- NAVIGATION PROFILE -->
<nav class="profile-nav">
    <ul class="profile-nav__list">
      <li class="profile-nav__item">
        <a href="#aperçu">Aperçu global</a>
      </li>
      <li class="profile-nav__item">
        <a href="#historique">Mon historique</a>
      </li>
      <li class="profile-nav__item">
        <a href="#credits">Mes crédits</a>
      </li>
      <li class="profile-nav__item">
        <a href="#preferences">Mes préférences</a>
      </li>
      <li class="profile-nav__item">
        <a href="#compte">Mon compte</a>
      </li>
      <li class="profile-nav__item profile-nav__item--active">
        <a href="#compte">Ajouter un trajet</a>
      </li>
    </ul>

    <button class="profile-nav__btn">Profil Conducteur</button>
</nav>

<section class="new-ride-wizard">
  <!-- Étape 1 -->
  <app-new-ride-step-1 *ngIf="currentStep === 1" (next)="nextStep()"></app-new-ride-step-1>

  <!-- Étape 2 -->
  <app-new-ride-step-2 *ngIf="currentStep === 2" (back)="prevStep()"></app-new-ride-step-2>
</section>


<!-- BANDEAU TOP FOOTER -->
<section class="section-blanche"><div class="bandeau-blanc-arrondi"></div></section>
<section class="section-verte"></section>