<!-- NAVIGATION PROFILE -->
<nav class="profile-nav">
    <ul class="profile-nav__list">
      <li class="profile-nav__item">
        <a href="#aperçu">Aperçu global</a>
      </li>
      <li class="profile-nav__item">
        <a href="#historique">Mon historique</a>
      </li>
      <li class="profile-nav__item">
        <a href="#credits">Mes crédits</a>
      </li>
      <li class="profile-nav__item">
        <a href="#preferences">Mes préférences</a>
      </li>
      <li class="profile-nav__item">
        <a href="#compte">Mon compte</a>
      </li>
      <li class="profile-nav__item profile-nav__item--active">
        <a href="#compte">Ajouter un trajet</a>
      </li>
    </ul>

    <button class="profile-nav__btn">Profil Conducteur</button>
</nav>


<app-new-ride-step-1></app-new-ride-step-1>



<!-- BANDEAU TOP FOOTER -->
<section class="section-blanche"><div class="bandeau-blanc-arrondi"></div></section>
<section class="section-verte"></section>