@use 'styles' as *;


// NAVIGATION PROFILE
.profile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secondary-1; 
    font-family: Figtree, sans-serif;
    margin-top: 2rem;
  }
  
  .profile-nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 6px;
    background-color: white;
    border-radius: $radius-full;
  }
  
  .profile-nav__item a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: $radius-full;
    background-color: white;
    color: $color-dark;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .profile-nav__item a:hover {
    background-color: $color-primary;
    color: $color-accent
  }
  
  .profile-nav__item--active a {
    background-color: $color-accent; 
    color: $color-dark;
    cursor: default;
  }


  
  .profile-nav__btn {
    padding: 12px 20px;
    background-color: $color-positive;
    color: white;
    border: none;
    border-radius: $radius-md;
    font-size: 14px;
    font-weight: 500;
    transition: opacity 0.2s;

  }

  



/* ============ NAV RESPONSIVE ============ */
@media (max-width: $breakpoint-md) {
    .profile-nav {
      flex-direction: column;
      align-items: stretch;
  
      &__btn {
        order: 0;             // bouton en premier
        margin-bottom: $spacing-md;
        width: 100%;
      }

      &__list {
        order: 1;    
           width: 100%;
            margin-bottom: 1rem;
            padding: 12px;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: $radius-lg;
      }
  
      &__item {
        a {
          width: 100%;
          text-align: center;
          padding: $spacing-sm 0;
        }
        &:not(:last-child) {
          margin-bottom: $spacing-xs;
        }
      }
    }
}




//BANDEAU TOP-FOOTER
.bandeau-blanc-arrondi {
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    height: 40px;
    background-color: $color-secondary-1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  
    position: relative;
    z-index: 10;
    margin-bottom: -40px;
  }
  
  .section-verte {
    background-color: $color-primary;
    position: relative;
    z-index: 1;
    margin-left: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    margin-right: calc(-1 * (100vw - 100%) / 2); // compense le débordement à cause du padding parent
    padding-top: 60px; // si tu veux éviter que ça se colle au bandeau
  }