<div class="hero-banner">
    <img src="images/Hero.webp" alt="Hero" class="hero" />
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>Roulez en toute conscience</h1>
    </div>
</div>

<app-search-bar></app-search-bar>


<div class="text-intro">
<h4>Voyagez mieux, dépensez moins, polluez moins</h4>
<h2>Avec EcoRide, partagez vos trajets en toute simplicité et en , pour une mobilité tournée vers demain</h2>
</div>


<div class="cards-container">
    <div class="cards-content">
      <h4>Covoiturez autrement</h4>
      <h2>Des trajets mieux pensés, plus flexibles et plus humains</h2>  

    <div class="card-1">
        <img src="images/Home_Picto_Roulez.svg" alt="Pictogramme voiture" class="card-icon" />
        <div class="card-text">
            <h3>Roulez pour la planète</h3>
            <p>En covoiturant, vous réduisez votre empreinte carbone à chaque trajet.</p>
        </div>
    </div>

    <div class="card-2">
      <img src="images/Home_Picto_Economie.svg" alt="Pictogramme economies" class="card-icon" />
      <div class="card-text">
          <h3>Faites des économies</h3>
          <p>Partagez les frais et voyagez à moindre coût.</p>
      </div>
  </div>
  
  <div class="card-3">
    <img src="images/Home_Picto_Confiance.svg" alt="Pictogramme confiance" class="card-icon" />
    <div class="card-text">
        <h3>Voyagez en toute confiance</h3>
        <p>Tous les profils sont vérifiés, tous les avis sont authentiques.</p>
    </div>
</div>


    </div>
</div>