@use 'styles' as *;
:host {
    display: block;
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
    overflow-x: hidden;
  
    @include respond-to(sm) {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }
  }

.hero-banner {
  position: relative;
  width: 100%;
  height: 30vh;
  border-radius: $radius-lg;
  overflow: hidden;
  

  .hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

    @include respond-to(md) {
      width: 140%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 50%;
      }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(56, 53, 53, 0.4);
    z-index: 1;
  }

  .hero-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: rgb(255, 255, 255);
      font-size: 2.8rem;
      font-weight: 700;
      font-family: $font-main;
      margin: 0;

      @include respond-to(sm) {
        font-size: 2.5rem;
        line-height: 1;
        padding: 0 $spacing-md;
        font-weight: 600;
      }
    }
  }
  }




  // ========== TEXTE INTRO ==========

  .text-intro {
    text-align: center;
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
    margin-bottom: 70px;
    margin-top: 70px;

    @include respond-to(sm) {
    margin-left: $spacing-sm;
    margin-right: $spacing-sm;
    margin-top: 70px;
    margin-bottom: 60px;
    }

    h4 {
      color: $color-secondary-2;
    }

    h2 {
      font-weight: 500;
    }

  }

  .underline-animate {
    position: relative;
    display: inline-block;
    font-weight: bold;
  
    .underline {
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 20px;
      fill: none;
      stroke: #d8d800;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-dasharray: 250;
      stroke-dashoffset: 250;
      transition: stroke-dashoffset 1s ease-out;
    }
  
    &.in-view .underline {
      stroke-dashoffset: 0;
    }
  }
  




  // ========== FEATURES SECTION ==========

  
.feature-section {
  background: $color-secondary-1; // beige clair
  border-radius: $radius-lg;
  padding: $spacing-xl;
  margin: $spacing-xl auto;
  margin-bottom: 120px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;


  @include respond-to(sm) {
    padding: $spacing-lg $spacing-md;
  }

  h4 {
    font-weight: 500;
    color: $color-secondary-2; // gris bleuté
    margin-bottom: $spacing-xs;
  }

  .section-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-dark;
    margin-top: 0; // 🔽 supprime l’écart inutile
    line-height: 1.8;
    margin-bottom: 0;
  

    @include respond-to(sm) {
      font-size: 1.8rem;
      margin-top: 1rem;
      line-height: 1.4;
    }
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: $spacing-lg;
  margin-top: $spacing-lg;

  // limite à 3 colonnes max
  @media (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.feature-card {
  border: 1px solid $color-secondary-6;
  border-radius: $radius-lg;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  transition: box-shadow 0.2s ease;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    box-shadow: 5px 5px 0px rgba(216, 216, 0, 4);
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: $color-secondary-2;
    border-radius: $radius-md;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-dark;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
    color: $color-secondary-2;
  }
}




// ========== COMMITMENT SECTION ==========
.text-content {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-dark;
    margin: 0;
  }

  h4 {
    font-weight: 500;
    color: $color-secondary-2;
    margin-bottom: $spacing-xs;
  }

  .btn {
    align-self: flex-start;

    @include respond-to(md) {
      align-self: center;
    }
  }
}

.image-wrapper {
  flex: 1;
  max-width: 480px;
  height: 460px; // fixe la même hauteur pour toutes les images

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius-lg;
    display: block;
  }

  @include respond-to(md) {
    max-width: 100%;
    height: auto; // adaptatif sur mobile

    img {
      height: auto;
    }
  }
}


.commitment-section {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: $spacing-xl;

  @include respond-to(md) {
    padding: $spacing-lg;
  }

  @include respond-to(sm) {
    padding: $spacing-sm;
  }
}



.commitment-bloc-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  height: 400px;

  
  @include respond-to(md) {
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @include respond-to(sm) {
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-bottom: 40px;
  }
}

.commitment-bloc-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-xl;
  flex-direction: row-reverse;
  
  @include respond-to(md) {
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  @include respond-to(sm) {
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-bottom: 40px;
    
  }
}

.image-wrapper {
  flex: 1;
  width: 100%;
  max-width: 480px;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: $radius-lg;
    display: block;
  }

  @include respond-to(md) {
    max-width: 100%;
    height: auto; // adaptatif sur mobile
  }
}

//ANIMATION DES IMAGES

.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
  will-change: transform, opacity;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }
}